.headerContainer {
  header {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    padding: 1rem 4.5%;
    transition: 0.2s;

    img {
      height: 100%;
      cursor: pointer;
    }

    nav {
      display: none;
      @media (min-width: 769px) {
        width: 100%;
        display: block;
        max-width: 1010px;
        visibility: visible;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            cursor: pointer;
            transition: 0.4s;
            font-weight: 500;
            line-height: 28px;
            font-size: 1.5rem;
            font-style: normal;
            color: var(--secondary-color);
            border-bottom: 2px solid transparent;

            &:hover {
              opacity: 0.8;
              border-color: var(--secondary-color);
            }
          }
        }
      }
    }

    .menuBarMobile {
      display: none;
    }

    @media (max-width: 768px) {
      height: 10%;

      .menuBarMobile {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        svg {
          width: auto;
          height: 100%;
          cursor: pointer;
          fill: var(--secondary-color);
          stroke: var(--secondary-color);
          transform: scaleX(-1);
        }
      }
    }

    &.isActive {
      h3 {
        color: var(--white);
        border-bottom: 2px solid transparent;

        &:hover {
          opacity: 0.8;
          border-color: var(--white);
        }
      }
      svg {
        fill: var(--white);
        stroke: var(--white);
        transform: scaleX(-1);
      }
      background-color: var(--secondary-color);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);
    }
  }
}
