.startPage {
  gap: 45px;
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem calc(100% - 1400px) 0;
  background: linear-gradient(120deg, #8c2ce7 0%, #600fce 30%, #4f03c5 50%, #4448d0 85%, #4467d4 100%);

  @media (max-width: 769px) {
    padding: 6rem 1rem 2rem;
    height: auto;
  }

  .containerTitleButton {
    width: 50%;
    height: 100%;
    h1 {
      font-size: 8rem;
      color: white;
      line-height: 1;
      font-weight: 900;
      margin-bottom: 1rem;
    }

    p {
      color: white;
      font-weight: 300;
      font-size: 1.2rem;

      b {
        font-weight: 500;
        font-size: 1.3rem;
        padding: 2px 5px;
        background-color: white;
        color: var(--tertiary-color);
      }
    }

    button {
      border: none;
      color: white;
      transition: 0.3s;
      font-size: 1.5rem;
      padding: 12px 24px;
      font-weight: 500;
      margin-top: 2.5rem;
      border-radius: 8px;
      font-family: Roboto;
      background: white;
      color: var(--tertiary-color);
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24);

      &:hover {
        opacity: 0.9;
      }
    }

    @media (max-width: 769px) {
      width: 100%;
      text-align: center;

      h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }
  
      p {
        font-size: 1.5rem;
        line-height: 1.5;
  
        b {
          font-weight: 500;
          font-size: 1.5rem;
          padding: 2px 10px;
          background-color: white;
          color: var(--tertiary-color);
        }
      }

      button {
        font-size: 1.3rem;
        margin-top: 1rem;
      }
    }
  }

  .containerBackground {
    display: none;
    @media (min-width: 769px) {
      width: 50%;
      height: 100%;
      display: flex;
      text-align: start;
      align-items: flex-start;

      svg {
        max-width: 100%;
        max-height: 100%;
        z-index: 2;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 55%;
        z-index: 1;
      }
    }
  }
}
