.containerSystems {
  .containerBackground,
  .systems {
    padding: 0 calc(100% - 1400px) 0;
  }

  .containerBackground {
    width: 100%;
    height: 150px;
    background-image: url("../../../../public//assets/background_waves.svg");
    background-size: 100%;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }

  .containerBackgroundBottom {
    width: 100%;
    height: 150px;
    background-image: url("../../../../public//assets/background_waves_bottom.svg");
    background-size: 100%;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }

  .systems {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--quinary-color);

    header {
      padding: 2.1rem 0;
      text-align: center;
      h2 {
        font-family: Roboto;
        font-weight: 500;
        font-size: 3.1rem;
        color: var(--white);
        strong {
          padding: 0 8px;
          color: var(--quinary-color);
          background-color: var(--white);
        }
      }
    }

    .systemsBackground {
      width: 100%;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px calc(100% - 1400px) 2rem;

      section {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        img {
          max-height: 100%;
        }

        h3 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 2rem;
          color: var(--white);
          padding-bottom: 1.3rem;
        }

        p {
          max-width: 500px;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: normal;
          color: var(--white);
          margin-bottom: .9rem;
        }
      }
    }
  }
}
