.containerContact {
  width: 100%;
  padding: 2rem 0 0;

  @media (max-width: 769px) {
    padding: 0;
  }

  .containerForm {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13% 0;

    .showModal {
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);

      div {
        max-width: 600px;
        position: relative;
        display: flex;
        text-align: center;
        padding: 2rem 3rem;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--white);
        z-index: 5;
        box-shadow: 5px 8px 10px 0 rgba(0, 0, 0, 0.24);

        .closeIcon {
          position: absolute;
          right: 10px;
          top: 10px;

          width: 25px;
          height: 25px;
        }

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.4rem;
        }

        a {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: var(--gray-color);
        }

        svg {
          height: auto;
          max-width: 40px;
          margin-left: 5px;
        }

        @media (max-width: 769px) {
          padding: 1.8rem 2rem;

          h1 {
            font-size: 2rem;
          }

          p {
            max-width: 300px;
            font-size: 1rem;
          }
        }
      }
    }

    .hideModal {
      display: none;
    }

    section:nth-child(1) {
      width: 55%;

      @media (max-width: 769px) {
        width: 100%;
        padding-bottom: 1rem;
      }
    }

    section:nth-child(2) {
      width: 45%;

      @media (max-width: 769px) {
        width: 100%;
      }
    }

    section {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;

      header {
        padding: 2.1rem 0;

        h1 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 3.1rem;

          b {
            padding: 0 8px;
            color: var(--white);
            background-color: var(--primary-color);
          }
        }
      }

      p {
        max-width: 700px;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 0.9rem;
        color: var(--gray-color);

        b {
          color: var(--primary-color);
        }

        strong {
          padding: 0 8px;
          color: var(--white);
          background-color: var(--primary-color);
        }
      }
    }

    @media (max-width: 769px) {
      height: auto;
      padding: 0 1rem;
      flex-direction: column;

      section {
        width: 100%;

        header {
          padding: 0 0 1rem;
          text-align: center;

          h1 {
            font-size: 2rem;
          }
        }

        p {
          text-align: center;
        }
      }
    }
  }

  .containerFooter {
    width: 100%;
    padding: 3rem 0 0.8rem;
    text-align: center;
    background-color: #f7f7f7;

    p {
      font-size: 1rem;
      margin-bottom: 1.2rem;
      color: var(--gray-color);
    }
  }
}
