.containerContact {
  width: 100%;
  padding: 2rem 0 0;

  .containerForm {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 calc(100% - 1400px) 0;

    section:nth-child(1) {
      width: 55%;
    }

    section:nth-child(2) {
      width: 45%;
    }

    section {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;

      header {
        padding: 2.1rem 0;

        h1 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 3.1rem;

          b {
            padding: 0 8px;
            color: var(--white);
            background-color: var(--primary-color);
          }
        }
      }

      p {
        max-width: 700px;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 0.9rem;
        color: var(--gray-color);

        b {
          color: var(--primary-color);
        }

        strong {
          padding: 0 8px;
          color: var(--white);
          background-color: var(--primary-color);
        }
      }
    }
  }

  .containerFooter {
    width: 100%;
    padding: 3rem 0 .8rem;
    text-align: center;
    background-color: #f7f7f7;

    p {
      font-size: 1rem;
      margin-bottom: 1.2rem;
      color: var(--gray-color);
    }
  }
}
